.home-return {
  ul {
    position: fixed;
    top: 0;
    right: 0;
    li {
      padding: 0;
      list-style: none;
      margin: 0;
        .glyphicon-home {
          background-color: #003366;
          color: white;
          padding: 16px;
          font-size: 20px;
        }
        .glyphicon-refresh {
          background-color: #C0C0C0;
          color: white;
          padding: 16px;
          font-size: 20px;
        }
    }
  }
}
.report {
  .jumbotron {
    background-image: url('./daily_show_logo.svg.png');
    margin-bottom: 0px;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    min-height: 200px;
  }
}
