$generic_grey: #C0C0C0;
$generic_navy: #003366;

.home-return {
  ul {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 1;
    li {
      padding: 2px;
      list-style: none;
      margin: 0;
        .glyphicon {
          border: 1 solid;
          border-radius: 4px;
        }
        .glyphicon-home {
          background-color: $generic_navy;
          color: white;
          padding: 16px;
          font-size: 20px;
        }
        .glyphicon-refresh {
          background-color: $generic_grey;
          color: white;
          padding: 16px;
          font-size: 20px;
        }
    }
  }
}
.jumbotron {
  background-image: url('./daily_show_logo.svg.png');
  margin-bottom: 0px;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  min-height: 200px;
}
.report {
  .container {
    padding-top: 20px;
  }
  .row {
    border: 1 solid $generic_grey;
    border-radius: 4px;
    padding: 10px 0;
    .col-lg-12 {
      #columnchart_material {
        margin: 0 auto;
      }
    }
    .col-md-2 {
      i {
        color: black;
        height: 12px;
      }
    }
    img {
      border-radius: 5px;
      max-width: 100%;
      min-width: 100%;
    }
    #photo-wiki {
      p {
        text-align: center;
        margin: 0;
      }
      a {
        width: 49%;
      }
      .btn {
        background-color: $generic_navy;
      }
      img {
        display:inline;
        min-width: 0;
      }
    }
  }
  h3 {
    font-family: 'Lobster', cursive;
    font-size: 30px;
  }
  p {
    font-family: 'Noto Sans', sans-serif;
  }
}
#linechart_material {
  margin: 0 auto;
}
.well {
  background-color: #EEEEEE;
}
