.indexpage {
  background: #C0C0C0;
  margin: 0 auto;
}
.jumbotron {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url('https://upload.wikimedia.org/wikipedia/commons/b/ba/Barack_Obama_on_the_Daily_Show_July_21,_2015.jpg');
  min-height: 538px;
}
.nav {
  padding-right: 16px;
  margin-top: 11px;
}
.btn {
  background: #708090;
  color: white;
  font-weight: bold;
  font-family: sans-serif;
}
