<html>
  <head>
    <div class="container">
      <ul class="nav navbar-nav navbar-right">
        <li>
          <a class="btn btn-default" <%= link_to "Report", "/guests/index" %></a>
        </li>
        <li>
          <a class="btn btn-default" <%= link_to "View Data", "/guests/list" %></a>
        </li>
      </ul>
      <h1>
        Quis custodiet ipsos custodes?
      </h1>
    </div>
  </head>
  <body>
    <div class="container">
      <div class="jumbotron">
        <img src="https://upload.wikimedia.org/wikipedia/commons/b/ba/Barack_Obama_on_the_Daily_Show_July_21,_2015.jpg">
      </div>
    </div>
  </body>
