<div class="body">
<div class="container">
<div class="indexpage">
    <!-- <div class="container"> -->
      <!-- <ul class="nav navbar-nav navbar-right">
        <li>
          <a class="btn btn-default" <%= link_to "Report", "/guests/index" %></a>
        </li>
        <li>
          <a class="btn btn-default" <%= link_to "View Data", "/guests/list" %></a>
        </li>
      </ul> -->
      <!-- <h1>
        Daily Show Guests
      </h1> -->
    <!-- </div> -->
    <div class="wrapper">
      <div class="jumbotron">
        <!-- <img src="https://upload.wikimedia.org/wikipedia/commons/b/ba/Barack_Obama_on_the_Daily_Show_July_21,_2015.jpg"> -->
        <!-- <div class="title"> -->
          <h1>
            The Daily Show Guests
          </h1>
          <img src="https://dr56wvhu2c8zo.cloudfront.net/ccdesign20/assets/206b5404-1c2b-41e5-86d8-0bb8da72b957/comedy-central-logo.png">
        <!-- </div> -->
        <!-- <div class="cclogo"> -->
          <!-- <img src="https://dr56wvhu2c8zo.cloudfront.net/ccdesign20/assets/206b5404-1c2b-41e5-86d8-0bb8da72b957/comedy-central-logo.png"> -->
        <!-- </div> -->
          <div class="container">
            <!-- <ul class="nav navbar-nav navbar"> -->
              <!-- <li> -->
                <a class="btn btn-default" <%= link_to "Report", "/guests/index" %></a>
              <!-- </li> -->
              <!-- <li> -->
                <a class="btn btn-default" <%= link_to "View Data", "/guests/list" %></a>
              <!-- </li> -->
            <!-- </ul> -->
        </div>
      </div>
    </div>
</div>
</div>
<blockquote>
  <p>
    “Originally we were going to title it The Daily Show With Fridays, Saturdays, and Sundays Off, but it was too long.”
  </p>
</blockquote>
</div>
