<!DOCTYPE html>
<html>
<head>
  <title>DailyShowGuests</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
  <script type="text/javascript">
        google.charts.load('current', {'packages':['bar']});
        google.charts.setOnLoadCallback(drawChart);
        function drawChart() {
          var data = google.visualization.arrayToDataTable([
            ['Year', 'Acting', 'Comedy', 'Media', 'Musician', 'NA'],
            ['2014', 1000, 400, 200, 400, 200],
            ['2015', 1170, 460, 250, 400, 200],
            ['2016', 660, 1120, 300, 400, 200],
            ['2017', 1030, 540, 350, 400, 200]
          ]);

          var options = {
            chart: {
              title: 'Guests by Occupation',
              subtitle: 'The Daily Show: 1999-2015',
            }
          };

          var chart = new google.charts.Bar(document.getElementById('columnchart_material'));

          chart.draw(data, options);
        }
    </script>
</head>
<body>

<%= yield %>

</body>

</html>
